QWidget {
    background-color: #eee;
    color: black;
}

/* QLabel */
QLabel{
    color: black;
}

/* QGraphicsView */
QGraphicsView {
    background-color: #aaa;
    border-color: #555555;
    border-radius: 5px;
    color: black;
    /* margin-left: 6px; */
}

/* QLineEdit */
QLineEdit {
    background-color: #ccc;
    color: #1a6aa7;
    border: 2px solid #888;
    border-radius: 3px;
    padding: 3px;
    selection-color: white;
    selection-background-color: #1a6aa7;
}

QLineEdit:disabled{
    background-color: #ccc;
    color: gray;
    border-width: 0px;
    border-radius: 3px;
    padding: 3px;
    selection-color: white;
    selection-background-color: #1a6aa7;
}

/* QListWidget */
QListWidget{
    border: 2px solid transparent;
}

QListWidget QLineEdit{
    padding-bottom: 5px;
    min-height: 25px;
    border-radius: 2px;
}

/* QCombobox */
QComboBox{
    color: #1a6aa7;
    background-color: #ccc;
    border: 2px solid #888;
    border-radius: 2px;
    padding: 2px 5px 2px 5px;
}

QComboBox:disabled{
    color: gray;
    background-color: #ccc;
    border-width: 0px;
}

/* QPushButton */
QPushButton{
    color: #1a6aa7;
    border: 2px solid #888;
    border-radius: 5px;
    /* padding: 5px; */
    background-color:
    QLinearGradient(x1:0, y1:0, x2:0, y2:1,
    stop: 0 #bbb,
    stop:0.1 #ddd,
    stop:0.7 #aaa,
    stop:1 #999);
}

QPushButton:disabled{
    color: gray;
    border: 2px;
    border-width: 0px;
    /* padding: 5px; */
    background-color:
    QLinearGradient(x1:0, y1:0, x2:0, y2:1,
    stop: 0 #aaa,
    stop:0.1 #bbb,
    stop:0.5 #ccc,
    stop:1 #ccc);
}


QPushButton:hover {
    background-color:
    QLinearGradient(x1:0, y1:0, x2:0, y2:1,
    stop: 0 #ccc,
    stop:0.1 #eee,
    stop:0.7 #bbb,
    stop:1 #959595);
}

QPushButton:pressed {
    background-color:
    QLinearGradient(x1:0, y1:0, x2:0, y2:1,
    stop: 0 #959595,
    stop:0.1 #919191,
    stop:0.7 #afafaf,
    stop:1 #eee);
}


QPushButton:checked {
    background-color:
    QLinearGradient(x1:0, y1:0, x2:0, y2:1,
    stop: 0 #bbb,
    stop:0.1 #aaa,
    stop:0.7 #777,
    stop:1 #ccc);
}

QPushButton#pushButton_move{image: url(Interface/Light_theme/move(light_theme).png);}
QPushButton#pushButton_erase{image: url(Interface/Light_theme/erase(light_theme).png);}
QPushButton#pushButton_route{image: url(Interface/Light_theme/route(light_theme).png);}
QPushButton#pushButton_block{image: url(Interface/Light_theme/block(light_theme).png);}
QPushButton#pushButton_motion{image: url(Interface/Light_theme/motion(light_theme).png);}
QPushButton#pushButton_delete_actions{image: url(Interface/Light_theme/delete_actions(light_theme).png);}
QPushButton#pushButton_rectangle{image: url(Interface/Light_theme/rectangle(light_theme).png);}
QPushButton#pushButton_ellipse{image: url(Interface/Light_theme/ellipse(light_theme).png);}
QPushButton#pushButton_delete_figures{image: url(Interface/Light_theme/delete_figures(light_theme).png);}
QPushButton#pushButton_pencil{image: url(Interface/Light_theme/pencil(light_theme).png);}
QPushButton#pushButton_delete_pencil{image: url(Interface/Light_theme/delete_pencil(light_theme).png);}
QPushButton#pushButton_label{image: url(Interface/Light_theme/label(light_theme).png);}
QPushButton#pushButton_delete_labels{image: url(Interface/Light_theme/delete_labels(light_theme).png);}

/* QTabWidget */
QTabWidget:pane{
    background-color: #bbb;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid black;
    padding: 0px 5px 5px 5px;
}

QTabWidget:tab-bar{
    left: 1px;
}


QTabBar:tab {
    color: #1a6aa7;
    border: 1px solid black;
    border-bottom-color: black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 2px 10px 2px 10px;
    background-color:
    QLinearGradient(x1:0, y1:0, x2:0, y2:1,
    stop: 0 #bbb,
    stop:0.1 #ddd,
    stop:0.7 #bbb,
    stop:1 #bbb);
}

QTabBar::tab:hover {
    background-color:
    QLinearGradient(x1:0, y1:0, x2:0, y2:1,
    stop: 0 #aaa,
    stop:0.1 #ccc,
    stop:0.7 #bbb,
    stop:1 #838383);

}

QTabBar:tab:!selected {
    color: #569dd3;
    margin-top: 3px; /* make non-selected tabs look smaller */
}

/* QMenuBar */
QMenuBar{
    background-color: transparent;
}


QMenuBar:item{
    padding: 6px;
}

QMenuBar:item:selected{
    background-color: #1a6aa7;
    color: #fff;
}

QMenuBar:item:pressed{
    border: 1px solid black;
    background-color: #1a6aa7;
}

/* QMenu */
QMenu{
    border: 1px solid #1a6aa7;
}

QMenu:item{
    color: black;
    padding: 5px 10px 5px 10px;
}

QMenu:icon{
    padding-left: 10px;
}

QMenu:item:selected{
    background-color: #bbb;
}

QMenu:item:disabled{
    color: gray;
}

QMenu::separator {
    height: 1px;
    background: black;
    margin-left: 2px;
    margin-right: 2px;
}

/* QToolBar */
QToolBar{
    background-color: transparent;
    border: transparent;
    spacing: 3px;
}

QToolButton{
    background-color: transparent;
    padding: 3px;
}

QToolButton:hover{
    border: 1px solid #1a6aa7;
}

QToolButton:disabled{
    color: #aaa;
}

QToolButton:checked{
    background-color: #9bd4e9;
    border: 1px solid #1a6aa7;
    color: #909090;
}

/* Vertical Scrollbar */
QScrollBar:vertical {
    border: none;
    background: #888;
    width: 14px;
    margin: 15px 0 15px 0;
	border-radius: 0px;
 }

/*  Hndle Bar Vertical */
QScrollBar::handle:vertical {
    border: 1px solid black;
	background-color: #656565;
	min-height: 30px;
}

QScrollBar::handle:vertical:hover{
	background-color: #476c8b;
}

QScrollBar::handle:vertical:pressed {	
	background-color: #1a6aa7;
}

/* Btn Top - Scrollbar */
QScrollBar::sub-line:vertical {
    border: 1px solid black;
	background-color: #656565;
	height: 15px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:hover {	
	background-color: #476c8b;
}
QScrollBar::sub-line:vertical:pressed {	
	background-color: #1a6aa7;
}

/* Btn Bottom - Scrollbar */
QScrollBar::add-line:vertical {
    border: 1px solid black;
	background-color: #656565;
	height: 15px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}

QScrollBar::add-line:vertical:hover {	
	background-color: #476c8b;
}

QScrollBar::add-line:vertical:pressed {	
	background-color: #1a6aa7;
}

/* Reset Arrow */
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
	background: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
	background: none;
}

/* Horizontal Scrollbar */
QScrollBar:horizontal {
    border: none;
    background: #888;
    height: 14px;
    margin: 0 15px 0 15px;
	border-radius: 0px;
 }

/*  Handle Bar Horizontal */
QScrollBar::handle:horizontal {
    border: 1px solid black;
	background-color: #656565;
	min-width: 30px;
}

QScrollBar::handle:horizontal:hover{	
	background-color: #476c8b;
}

QScrollBar::handle:horizontal:pressed {	
	background-color: #1a6aa7;
}

/* Btn Left - Scrollbar */
QScrollBar::sub-line:horizontal {
    border: 1px solid black;
	background-color: #656565;
	width: 15px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	subcontrol-position: left;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal:hover {	
	background-color: #476c8b;
}
QScrollBar::sub-line:horizontal:pressed {	
	background-color: #1a6aa7;
}

/* Btn Right - Scrollbar */
QScrollBar::add-line:horizontal {
    border: 1px solid black;
	background-color: #656565;
	width: 15px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	subcontrol-position: right;
	subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal:hover {	
	background-color: #476c8b;
}

QScrollBar::add-line:horizontal:pressed {	
	background-color: #1a6aa7;
}

/* Reset Arrow */
QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
	background: none;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
	background: none;
}

/* QGroupBox */
QGroupBox {
    border: 2px solid gray;
    border-radius: 5px;
}

/* QDialog */
QDialogButtonBox QPushButton{
    min-width: 100px;
    min-height: 25px;
}

QMenuBar QMenu:item QAction#action_QB_Wrist{
    background-color: red;
}

/* QMenu:item#action_save{
    image: url(Dark_theme/move(dark_theme).png);
} */